@media (max-width: 422px) {
	.login-card .card-body {
		padding: 35px 24px;
	}
}

@media (max-width: 767px) {
	.login-card-footer-text {
		margin-bottom: 24px;
	}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
	.username {
		width: 100%;
		text-align: center;
		margin-top: 10px;
	}

	.top-menu {
		width: 100%;
		margin-top: 10px;
	}

}