body {
	background: url(../images/metaverse.webp) center no-repeat;
	min-height: 100vh;
}

.brand-wrapper {
	margin-bottom: 19px;
}

.login-card {
	border: 0;
	box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
	overflow: hidden;
}

.login-card .card-body {
	padding: 60px 60px;
}


.login-card-description {
	font-size: 25px;
	color: #000;
	font-weight: normal;
	margin-bottom: 23px;
}

/* .login-card .form-control {
	border: 1px solid #d5dae2;
	padding: 15px 25px;
	margin-bottom: 20px;
	min-height: 45px;
	font-size: 13px;
	line-height: 15;
	font-weight: normal;
} */

.login-card .form-control::-webkit-input-placeholder {
	color: #919aa3;
}

.login-card .form-control::-moz-placeholder {
	color: #919aa3;
}

.login-card .form-control:-ms-input-placeholder {
	color: #919aa3;
}

.login-card .form-control::-ms-input-placeholder {
	color: #919aa3;
}

.login-card .form-control::placeholder {
	color: #919aa3;
}

.login-card .login-btn {
	padding: 13px 20px 12px;
	background-color: #000;
	border-radius: 4px;
	font-size: 17px;
	font-weight: bold;
	line-height: 20px;
	color: #fff;
	margin-bottom: 24px;
}

.login-card .login-btn:hover {
	border: 1px solid #000;
	background-color: transparent;
	color: #000;
}

.login-card .forgot-password-link {
	font-size: 14px;
	color: #919aa3;
	margin-bottom: 12px;
}

.login-card-footer-text {
	font-size: 16px;
	color: #0d2366;
	margin-bottom: 60px;
}

.login-card-footer-nav a {
	font-size: 14px;
	color: #919aa3;
}

.footer-link {
	position: absolute;
	bottom: 1rem;
	text-align: center;
	width: 100%;
}

/* Home */

.home {
	background-image: radial-gradient(circle, #001554, #073884, #1191d8);
}

.container-bg {
	background-image: radial-gradient(circle, #001554, #073884, #1191d8);
}

header {
	background-color: #000;
	z-index: 1;
	position: relative;
	margin-left: 220px;
}

.top-header {
	border-bottom: 1px solid #f2f2f2;
	background: linear-gradient(to top, #d90452, #1E3E59);
}

.top-header li {
	padding: 8px;
    width: auto;
  	position: relative; 
}

.dropdown-item {
	color: #000 !important;
}

.dropdown-item:focus, .dropdown-item:hover {
	color: #000 !important;
}

.bottom-header a:after {
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	position: absolute;
	background: #fff;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}

.bottom-header a:hover:after { 
	width: 100%; 
	left: 0; 
}

.dropdown-toggle::after {
	display: inline-block !important;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "" !important;
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
	position: unset !important;
    background: transparent !important;
}

.dropdown-toggle:hover::after {
	width: 0% !important;
}

.sidebar {
	height: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
	position: fixed;
	background-color: #1E3E59;
	z-index: 1;
	top: 0px;
}

a {
	color: #fff !important;
	text-decoration: none !important;
	padding: 0px 0px 0px 0px;
	width: 100%;
	display: block;
	height: 100%;
}

li {
	padding: 10px 35px;
	width: 100%;
	list-style-type: none;
	color: #fff;
}

/* .sidebar ul {
	height: 100%;
} */

.sidebar > ul {
	width: 220px;
	position: relative;
	padding: 0 !important;
	overflow: visible;
}

.sidebar > ul > li {
	display: flex;
	justify-content: center;
}

.sidebar > ul > li:hover {
	background-color: #999;
}

.sidebar > ul > li > ul {
	display: none;
	position: absolute;
	right: -250px;
	top: 10px;
	padding: 0 !important;
	width: 250px;
	background-color: rgba(0,0,0,0.65);
	z-index: 3;
	/* height: 100vw; */
	border-radius: 0px 10px 10px 0px;
}

.sidebar > ul > li > ul > li {
	float: left;
	width: 50%;
	padding: 10px;
}

.sidebar > ul > li > ul > li > a > img {
	width: auto;
}

a:hover {
	color: #fbfbfb !important;
}

i {
	margin-top: 4px;
	padding-left: 8px;
}

.sidebar > ul > li:hover > ul {
	display: block;
}

.sidebar > ul > li > ul >li:hover {
	background-color: #666;
}

.sidebar > ul > li > ul > li:hover ul {
	display: block;
}

.sidebar > ul > li > ul > li > ul > li:hover {
	background-color: #666;
}


.side-icons {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	background-color: #666;
	font-size: 18px;
	padding: 10px 9px;
	vertical-align: middle;
	text-align: center;
}

.icon-btn {
	background-color: transparent;
	border: 1px solid transparent;
}

.icon-btn img {
	width: 80px;
	height: 80px;
	display: block;
	margin: 0 auto;
}

.eyewear li .icon-btn {
	background-color: #fff;
}

.bottom-btn {
	position: fixed;
	bottom: 20px;
	width: 180px;
    margin: 0 10px;
}

.next-btn {
	background-color: #656ff5;
	border: 1px solid #656ff5;
	color: #fff;
	width: 100%;
}